@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");

 body {
	 font-family: "Baloo 2", cursive;
	 font-size: 16px;

	 text-rendering: optimizeLegibility;
	 font-weight: initial;
}

img{
    height:150px;
    width:100%;
  }
  
  div [class^="col-"]{
    padding-left:5px;
    padding-right:5px;
  }
  .service .card{
    transition:0.5s;
    border-radius: 10px;
    cursor:pointer;
  }
  .service .card-title{  
    font-size:15px;
    transition:1s;
   
  }
  .service .card-title i{  
    font-size:15px;
    transition:1s;
   
    color:#ffa710
  }

  .service .card:hover{
	background-color: rgb(235, 253, 218);
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
  }
  .service .card-text{
    height:80px;  
  }
  
  .service .card::before, .card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
  }
  .service .card::before {
    transform-origin: left top;
  }
  .service .card::after {
    transform-origin: right bottom;
  }
  .service .card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
    transform: scale3d(1, 1, 1);
  }
