.add-service form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add-service form input,textarea,select{
    width: 80%;
    margin-bottom: 10px;
}